header{
    background-color: goldenrod;
    margin-bottom: 50px;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-weight: 200;
}

header h1 {
    margin-bottom: 0;
}

header p {
    margin-top: .5em;
}


.card {
    border: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

.card-image {
    width: 100%;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.card-content p {
    margin: 0.5em 0;
}